<br><br>
<div id="profile_info" style="margin-left: 80px;">
<p><strong>Name:</strong> <%= current_user.first_name + ' ' + current_user.last_name%> </p>
<p><strong>Email:</strong> <%= current_user.email %> </p>
<p><strong>Mobile:</strong> <%= current_user.phone_number %></p>
<p><strong>Address:</strong> <%= current_user.address %></p>

<%= link_to "Update", "edit" %>
<%= link_to "Back", "/" %>