<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<% if signed_in? %>
		<% if current_user.admin? %>
		<h2> Hello <%= current_user.first_name %> </h2>
		<h5>Welcome to your online contact list</h5>
		<% elsif current_user.friend? %>
			<h2>Hello <%= current_user.first_name %> </h2>
			<h5>Thank you for being my friend</h5>
		<% end %>
	<% else %>
		<h1>Hello</h1>
		<%= link_to "Login", "login" %>
		<%= link_to "Sign up", "signup" %>
		<%= link_to "Sign in with Facebook", "/auth/facebook" %>
	<% end %>
</body>
</html>